@{
    ViewBag.Title = "About Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/StyleSheetPages.css");
}
<body>
    <div class="row">
        <h3>@ViewBag.Title.</h3>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/images/DannyBentleyImage.jpg" class="circular-image"/>
        </div>
        <br />
        <div class="col-sm-6 text-left" id="aboutMeText">
            <p>
                I'm Danny Bentley a structural BIM Designer and developer at Skidmore Owings & Merrill for the last 10 years.  I'm passionate about all things tech for Architecture, Engineering, and Construction (AEC).

                I work with the Revit API to develop add-ins.  I enjoy making workflows using Dynamo for our teams.  I'm also an AR and VR enthusiast looking for ways to integrate this technology into the AEC discipline.
            </p>
        </div>

    </div>
</body>


