@{
    ViewBag.Title = "Contact Me";
    @Styles.Render("~/Content/StyleForm.css")
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form action="myHandeling-form" method="post">
    <div>
        <label for="Name">
            <input type="text" id="name" name="UserName" />
        </label>
        <label for="Email">
            <input type="email" id="mail" name="UserMail" />
        </label>
        <label for="Message">
            <textarea type="text" id="message" name="UserMessage" />
        </label>
        <div>
            <button type="button" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>