@{
    ViewBag.Title = "Home Page";
    @Styles.Render("~/Content/StyleSheet.css");
}

<body>
    <!--Slider-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!--ordered list-->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/images/" />
                <div class="carousel-caption"></div>
                <h1>get to know</h1>
                <br />
                <button type="button" class="btn btn-default">get started</button>
            </div>
        </div>
    </div><!--End Slider-->

    <div class="container" style="padding-top: 5em">
        <div class="row">
            <div class="mission-statement">
                <div class="col-md-6">
                    <p>
                        I’m an architecture, engineering, and construction (AEC) technology enthusiast. I truly believe that our industry is on the verge of something remarkable. The current state of our industry is scattered and slow pace.  It’s perfect for us to optimize, digitize and automate large parts of our industry.  I want to be part of this journey to learn, teach and experiment with all things tech in the AEC space. Follow me on Twitter and Youtube.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>