
@{
    ViewBag.Title = "RevitAPI";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/StyleSheetPages.css");
}

<body>
    <!--Revit Expand-->
    <div class="container text-center">
        <h3>Revit API - Expand Revit's Capability</h3>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/images/css3.png" id="icon" />
        </div>
        <div class="col-sm-6 text-left">
            <p>
                Revit's API allows us to build tools to automate many tasks in Revit.  The Revit API can be obtained and used with C#, Python or Dynamo.  The different develpment tools have different abilities.  Using Dynamo is great for visual programming that can be quick development.  Python and C# are more high level development languages that can import libraries that can connect functionality to the addins.  A good road map to learning these tools is to start by learning Revit, then learn Dynamo's visual programming, later learn to use Python with Dynamo and finally dive right in C#.  
            </p>
        </div>
    </div>
    <br />

    <!--Interoperability-->
    <div class="container text-center">
        <h3>Digital model - Interoperability</h3>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/images/css3.png" id="icon" />
        </div>
        <div class="col-sm-6 text-left">
            <p>
                We can extract element data, geometry and point location to send between software.  The API is a great tool when trying to link information between Revit and another design software.  This can be a frustrating task to do because Revit doesn't like to play nicely with other software.  The API allows us to manipulate and pass information between software.
            </p>
        </div>
    </div>

    <!--Development-->
    <div class="container text-center">
        <h3>Tools - Development and Execute</h3>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/images/css3.png" id="icon" />
        </div>
        <div class="col-sm-6 text-left">
            <p>
                Current tools under construction range from small add-ins to more ambitious projects.  The tools start as project specific tools that later are imporoved to be used more broadly. 
            </p>
        </div>
    </div>
</body>

