body {
    padding-top: 50px;
    padding-bottom: 10px;
}
/*navigation bar*/
.navbar-inverse {
    background-color: #0b4f6c;
}

#navicon a {
    margin: auto 7px;
    color: #fbfbff;
}

#navicon a:hover {
    background-color: #01baef;
    color: #fbfbff;
}
#navicon a:focus{
    color:#fbfbff;
}

/*brand logo*/
#brandId a {
    color: #01baef;
    margin:auto;
}
#brandId a:hover {
    color: #fbfbff;
}

/*Footer styling*/
footer {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 850px;
}

footer .copyright {
    margin: 10px auto;
    text-align: center;
    color: #061a26;
}

footer .social {
    margin: 10px auto;
    text-align: center;
    color: #061a26;
}

/* Set padding to keep content from hitting the edges*/
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
