/*form layout*/
form{
    margin: 4em auto;
    width: 500px;
    padding: 1em;
    border: 1px solid black;
}
/*division between cells in form*/
form div + div{
    margin-top: 1em;
}
/*labels text*/
label{
    display: inline-block;
    width: 90px;
    text-align: right;
}
/*input of name and email*/
input{
    width: 400px;
    box-sizing: border-box;
    border: 1px solid black;
}
/*border around input*/
input:focus textarea:focus{
    border-color: #000;
}
/*message box*/
textarea{
    vertical-align: top;
    height: 20em;
    width: 600px;
}
/*button*/
.btn{
    padding: 90px;
}
button{
    margin-left: .5em;
}