.inner-container{
    color:whitesmoke;
    text-align: left;
    margin-top: 50px;   
}

.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    text-transform:uppercase;
}
/*carousel button*/
.btn{
    font-size: 18px;
    color:#FFF;
    padding 12px 22px;
    background: #5E4485;
    border: 2px solid #FFF;
}
/*Mobil remove caption and button*/
@media (max-width: 600px){
    .carousel-caption{
        display: none;
    }
    #icon{
        max-width: 150px;
    }
    h2{
        font-size:.9cm;
    }
}

.container{
    margin: 4% auto;
}

/*Images for Forge, Revit API and Dynamo*/
#icon {
    max-width:200px;
    margin: 1% auto;
}